---
import ILike from "../components/ILike.astro";
---

<div class="flex flex-col" id="about">
  <h1
    class="text-cinnabar-800 font-playfair font-extrabold text-6xl ml-10 pb-20"
    id="aboutTitle"
  >
    More about me
  </h1>
  <h2
    class="font-playfair m-auto mt-10 mb-4 text-6xl font-extrabold text-cinnabar-800 group"
  >
    Hi I&rsquo;m <span
      class="text-7xl font-baskerville text-outline name-gradient bg-clip-text group-hover:bg-[left_100%_top_100%]"
      id="name">Giuseppe</span
    >
    <span
      class="font-emoji inline-block group-hover:animate-[wave_1s]"
      id="hand">&#128075;&#127996;</span
    >.
  </h2>
  <div class="mx-auto mt-10 p-10 w-full flex flex-row">
    <div class="p-2 bg-cinnabar-500 w-1/4 aspect-square clip-selfie m-auto">
      <img class="clip-selfie" src="/giuseppe.webp" />
    </div>
    <div class="w-1/2 text-3xl m-auto">
      <p class="text-6xl leading-tight font-extrabold text-cinnabar-600">
        <span>I&rsquo;m a full-stack software engineer from Sardinia</span><span
          class="font-emoji">(&#127470;&#127481;)</span
        ><span>, based in York</span><span class="font-emoji"
          >(&#127468;&#127463;)</span
        >.
      </p>
      <p class="text-justify mt-4 text-cinnabar-950 font-semibold">
        I am a 22 years old software engineer with a background in electronic
        engineering.
        <br />
        <br />
        <ILike />
        <br />
        <br />
        I&rsquo;m also about to obtain an MEng in Electronic and Computer Engineering
        from the University of York.
      </p>
    </div>
  </div>
</div>

<script>
  const title = document.getElementById("aboutTitle") as HTMLHeadingElement;
  const name = document.getElementById("name") as HTMLSpanElement;
  const hand = document.getElementById("hand") as HTMLSpanElement;

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          name.style.backgroundPosition = "left 100% top 100%";
          hand.classList.add("wave");
          setTimeout(() => {
            name.style.backgroundPosition = "";
            hand.classList.remove("wave");
          }, 2250);
        }
      });
    },
    {
      rootMargin: "0px 0px -100% 0px",
    }
  );

  observer.observe(title);
</script>

<style>
  .text-outline {
    color: transparent;
    -webkit-text-stroke: 3px theme(colors.cinnabar.800);
  }

  .curvy {
    border-top-left-radius: 80% 15%;
    border-top-right-radius: 80% 15%;
  }

  .name-gradient {
    background-image: linear-gradient(
      to right bottom,
      theme(colors.cinnabar.400) 50%,
      theme(colors.red.500),
      theme(colors.orange.500),
      theme(colors.yellow.500),
      theme(colors.green.500),
      theme(colors.blue.500),
      theme(colors.indigo.500),
      theme(colors.violet.500)
    );

    background-size: 200% 200%;
    background-position: left 0% top 0%;

    transition: background-position 1s;
  }

  .wave {
    animation: wave 1s ease;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-25deg);
    }
    50% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>

<style is:global>
  .clip-selfie {
    animation: clip-morph 20s infinite;
  }

  @keyframes clip-morph {
    0% {
      clip-path: polygon(
        0.019230769230769232% 44.78060046189377%,
        0.6153846153846154% 53.002309468822176%,
        2.3461538461538463% 59.353348729792145%,
        3.2115384615384617% 61.270207852194005%,
        4.269230769230769% 63.25635103926096%,
        5.5576923076923075% 65.31177829099308%,
        7.096153846153847% 67.4364896073903%,
        11.038461538461538% 71.87066974595842%,
        13.48076923076923% 74.18013856812932%,
        14.826923076923077% 75.38106235565819%,
        16.03846153846154% 76.37413394919167%,
        18.384615384615383% 77.9676674364896%,
        22.865384615384617% 79.86143187066975%,
        25.038461538461537% 80.23094688221708%,
        27.173076923076927% 80.30023094688221%,
        29.307692307692307% 80.11547344110855%,
        31.461538461538463% 79.7228637413395%,
        37% 78.1986143187067%,
        44.26923076923077% 76.21247113163973%,
        48.30769230769231% 75.56581986143188%,
        51.19230769230769% 75.38106235565819%,
        52.69230769230769% 75.38106235565819%,
        53.48076923076923% 75.42725173210162%,
        55.05769230769231% 75.65819861431872%,
        57.423076923076934% 76.35103926096998%,
        60.5576923076923% 77.80600461893764%,
        66.78846153846155% 82.14780600461894%,
        69.84615384615384% 84.78060046189377%,
        74.32692307692308% 88.91454965357968%,
        78.65384615384615% 92.93302540415705%,
        81.4423076923077% 95.31177829099306%,
        84.13461538461539% 97.32101616628175%,
        86.73076923076923% 98.84526558891456%,
        88.59615384615384% 99.56120092378752%,
        89.78846153846153% 99.81524249422633%,
        90.96153846153847% 99.88452655889145%,
        92.09615384615384% 99.7459584295612%,
        93.1923076923077% 99.35334872979215%,
        95.28846153846153% 97.85219399538107%,
        96.26923076923077% 96.69745958429561%,
        96.75% 96.00461893764434%,
        97.61538461538461% 94.54965357967667%,
        98.90384615384615% 91.59353348729793%,
        99.67307692307692% 88.54503464203233%,
        99.96153846153845% 85.42725173210161%,
        99.84615384615385% 82.24018475750577%,
        99.36538461538463% 79.00692840646651%,
        98.6153846153846% 75.72748267898383%,
        97.63461538461539% 72.37875288683601%,
        95.86538461538461% 67.27482678983834%,
        93.28846153846155% 60.34642032332563%,
        91.46153846153847% 55.057736720554274%,
        90.38461538461539% 51.50115473441108%,
        89.51923076923077% 47.92147806004619%,
        88.92307692307692% 44.34180138568129%,
        88.53846153846153% 39.65357967667436%,
        88.32692307692308% 29.676674364896073%,
        88.17307692307692% 25.3810623556582%,
        87.73076923076923% 21.362586605080832%,
        87.07692307692308% 18.452655889145497%,
        86.4423076923077% 16.51270207852194%,
        85.63461538461539% 14.572748267898383%,
        84.61538461538461% 12.609699769053117%,
        83.34615384615384% 10.623556581986143%,
        81.82692307692308% 8.545034642032332%,
        80.96153846153847% 7.482678983833718%,
        80.07692307692307% 6.466512702078522%,
        78.36538461538461% 4.688221709006929%,
        75.15384615384616% 2.1247113163972284%,
        73.63461538461537% 1.2933025404157044%,
        72.13461538461539% 0.7159353348729792%,
        70.63461538461539% 0.3695150115473442%,
        69.09615384615385% 0.23094688221709006%,
        66.75000000000001% 0.3233256351039261%,
        63.36538461538461% 0.9468822170900691%,
        57.44230769230769% 2.3787528868360277%,
        50.63461538461539% 3.695150115473441%,
        46.44230769230769% 3.9722863741339487%,
        40.03846153846153% 3.879907621247113%,
        33.692307692307686% 3.8337182448036953%,
        29.557692307692307% 4.133949191685912%,
        26.53846153846154% 4.66512702078522%,
        24.576923076923077% 5.219399538106236%,
        20.807692307692307% 6.928406466512701%,
        19.903846153846153% 7.482678983833718%,
        18.442307692307693% 8.498845265588914%,
        15.75% 10.531177829099308%,
        13.30769230769231% 12.655889145496534%,
        11.134615384615385% 14.803695150115473%,
        9.192307692307692% 17.02078521939954%,
        7.480769230769231% 19.28406466512702%,
        6% 21.593533487297922%,
        4.711538461538462% 23.94919168591224%,
        3.5961538461538463% 26.32794457274827%,
        2.6730769230769234% 28.729792147806005%,
        0.6346153846153846% 37.32101616628176%,
        0.1346153846153846% 42.28637413394919%,
        0.019230769230769232% 44.78060046189377%,
        0.019230769230769232% 44.78060046189377%
      );
    }
    25% {
      clip-path: polygon(
        1.2131715771230502% 44.77911646586345%,
        0.8838821490467937% 46.445783132530124%,
        0.41594454072790293% 49.59839357429719%,
        0.1559792027729636% 52.53012048192771%,
        0.12131715771230502% 55.24096385542169%,
        0.29462738301559793% 57.79116465863454%,
        0.6759098786828422% 60.160642570281134%,
        1.2651646447140381% 62.409638554216876%,
        2.062391681109186% 64.53815261044177%,
        3.067590987868284% 66.58634538152612%,
        4.263431542461006% 68.53413654618474%,
        5.667244367417678% 70.46184738955823%,
        7.261698440207972% 72.34939759036145%,
        10% 75.18072289156626%,
        14.298093587521663% 79.07630522088354%,
        16.724436741767764% 81.12449799196787%,
        18.908145580589252% 82.93172690763052%,
        23.258232235701904% 86.32530120481927%,
        27.573656845753895% 89.39759036144578%,
        31.95840554592721% 92.10843373493975%,
        36.4471403812825% 94.39759036144578%,
        41.091854419410744% 96.20481927710843%,
        44.7313691507799% 97.22891566265059%,
        47.227036395147316% 97.73092369477911%,
        49.809358752166375% 98.09236947791165%,
        52.47833622183708% 98.3132530120482%,
        53.83015597920278% 98.35341365461846%,
        56.70710571923744% 98.4738955823293%,
        62.651646447140386% 98.97590361445782%,
        68.71750433275562% 99.5582329317269%,
        74.7313691507799% 99.93975903614457%,
        79.1161178509532% 99.93975903614457%,
        81.9584055459272% 99.69879518072288%,
        84.67937608318891% 99.2570281124498%,
        87.29636048526864% 98.55421686746988%,
        89.75736568457539% 97.570281124498%,
        92.06239168110919% 96.24497991967871%,
        94.17677642980935% 94.5582329317269%,
        96.10051993067592% 92.48995983935744%,
        96.98440207972271% 91.285140562249%,
        97.76429809358753% 90.02008032128515%,
        98.92547660311958% 87.429718875502%,
        99.61871750433275% 84.77911646586345%,
        99.87868284228769% 82.06827309236947%,
        99.77469670710573% 79.31726907630522%,
        99.3414211438475% 76.50602409638554%,
        98.66551126516464% 73.63453815261045%,
        97.78162911611787% 70.72289156626506%,
        96.18717504332756% 66.285140562249%,
        93.86481802426343% 60.26104417670683%,
        92.21837088388214% 55.662650602409634%,
        91.2478336221837% 52.570281124497996%,
        90.46793760831889% 49.45783132530121%,
        89.93067590987867% 46.34538152610442%,
        89.75736568457539% 44.77911646586345%,
        89.68804159445408% 43.47389558232932%,
        89.7053726169844% 40.80321285140562%,
        90.08665511265164% 36.68674698795181%,
        91.55979202772963% 28.23293172690763%,
        92.99826689774697% 19.899598393574298%,
        93.36221837088388% 15.903614457831324%,
        93.36221837088388% 13.353413654618473%,
        93.11958405545926% 10.903614457831324%,
        92.59965337954938% 8.57429718875502%,
        91.75043327556325% 6.385542168674699%,
        90.51993067590986% 4.357429718875502%,
        89.75736568457539% 3.3935742971887546%,
        88.94280762564992% 2.5301204819277108%,
        87.24436741767764% 1.2248995983935742%,
        85.4939341421144% 0.42168674698795183%,
        83.6741767764298% 0.08032128514056225%,
        81.80242634315424% 0.12048192771084336%,
        79.8786828422877% 0.48192771084337344%,
        77.92027729636048% 1.144578313253012%,
        75.90987868284229% 2.0281124497991967%,
        70.67590987868284% 4.839357429718875%,
        64.10745233968804% 8.413654618473895%,
        60.72790294627383% 9.819277108433734%,
        57.27902946273831% 10.742971887550201%,
        55.42461005199307% 11.004016064257026%,
        51.64644714038128% 11.244979919678714%,
        45.87521663778163% 11.184738955823294%,
        40.15597920277296% 11.124497991967871%,
        36.429809358752166% 11.385542168674698%,
        33.70883882149047% 11.847389558232932%,
        31.941074523396885% 12.349397590361445%,
        30.225303292894285% 12.991967871485944%,
        28.544194107452338% 13.815261044176708%,
        27.729636048526864% 14.31726907630522%,
        22.616984402079723% 17.53012048192771%,
        12.18370883882149% 24.718875502008032%,
        9.670710571923744% 27.068273092369484%,
        8.162911611785095% 28.77510040160643%,
        6.759098786828423% 30.622489959839356%,
        5.493934142114385% 32.65060240963855%,
        2.3743500866551126% 40.1004016064257%,
        1.5771230502599654% 43.13253012048193%,
        1.2131715771230502% 44.77911646586345%,
        1.2131715771230502% 44.77911646586345%
      );
    }
    50% {
      clip-path: polygon(
        0.5111821086261981% 44.66666666666667%,
        0.25559105431309903% 46.31372549019608%,
        0% 49.6078431372549%,
        0.11182108626198081% 52.86274509803922%,
        0.5271565495207667% 56.05882352941176%,
        1.230031948881789% 59.235294117647065%,
        2.220447284345048% 62.33333333333333%,
        3.4345047923322687% 65.37254901960785%,
        4.872204472843451% 68.3529411764706%,
        6.501597444089457% 71.23529411764706%,
        8.30670926517572% 74.03921568627452%,
        10.23961661341853% 76.76470588235294%,
        12.284345047923322% 79.39215686274508%,
        15.495207667731629% 83.13725490196079%,
        19.952076677316295% 87.72549019607843%,
        22.18849840255591% 89.82352941176471%,
        23.162939297124602% 90.68627450980392%,
        25.175718849840255% 92.23529411764706%,
        27.252396166134186% 93.56862745098039%,
        29.39297124600639% 94.66666666666667%,
        31.59744408945687% 95.58823529411765%,
        33.83386581469649% 96.35294117647058%,
        37.26837060702876% 97.19607843137254%,
        41.980830670926515% 97.88235294117646%,
        46.78913738019169% 98.21568627450979%,
        54.10543130990415% 98.33333333333333%,
        58.977635782747605% 98.3921568627451%,
        61.51757188498404% 98.50980392156863%,
        66.77316293929712% 99%,
        72.1405750798722% 99.5686274509804%,
        77.46006389776358% 99.94117647058823%,
        81.34185303514376% 99.94117647058823%,
        83.83386581469648% 99.70588235294117%,
        86.24600638977635% 99.27450980392157%,
        88.56230031948881% 98.58823529411765%,
        90.73482428115017% 97.62745098039215%,
        92.77955271565494% 96.33333333333334%,
        94.6485623003195% 94.68627450980391%,
        96.35782747603835% 92.66666666666667%,
        97.12460063897763% 91.49019607843137%,
        97.82747603833866% 90.23529411764706%,
        98.8817891373802% 87.68627450980392%,
        99.52076677316293% 85.0392156862745%,
        99.80830670926517% 82.31372549019608%,
        99.79233226837061% 79.52941176470588%,
        99.50479233226837% 76.66666666666667%,
        98.99361022364218% 73.74509803921569%,
        98.30670926517571% 70.76470588235294%,
        96.11821086261982% 63.19607843137255%,
        93.4185303514377% 53.92156862745098%,
        92.3961661341853% 49.274509803921575%,
        91.93290734824281% 46.19607843137255%,
        91.7891373801917% 44.66666666666667%,
        91.70926517571885% 43.392156862745104%,
        91.70926517571885% 40.8235294117647%,
        91.98083067092651% 36.88235294117647%,
        93.03514376996804% 28.96078431372549%,
        94.04153354632588% 21.19607843137255%,
        94.21725239616613% 17.49019607843137%,
        94.12140575079873% 15.117647058823527%,
        93.83386581469648% 12.823529411764707%,
        93.3226837060703% 10.627450980392156%,
        92.52396166134186% 8.549019607843137%,
        91.4217252396166% 6.588235294117648%,
        90.75079872204473% 5.666666666666666%,
        90.01597444089457% 4.803921568627452%,
        88.45047923322684% 3.313725490196078%,
        86.77316293929714% 2.156862745098039%,
        84.98402555910543% 1.254901960784314%,
        83.13099041533546% 0.627450980392157%,
        81.18210862619807% 0.2352941176470588%,
        79.16932907348243% 0.03921568627450981%,
        77.10862619808306% 0.019607843137254905%,
        73.94568690095846% 0.25490196078431376%,
        69.61661341853035% 0.9607843137254903%,
        63.162939297124595% 2.4117647058823533%,
        58.977635782747605% 3.313725490196078%,
        57.364217252396166% 3.686274509803922%,
        54.281150159744406% 4.686274509803921%,
        51.30990415335464% 6.000000000000001%,
        48.45047923322684% 7.568627450980392%,
        44.26517571884984% 10.294117647058822%,
        38.722044728434504% 14.294117647058824%,
        35.894568690095845% 16.333333333333332%,
        34.69648562300319% 17.137254901960787%,
        32.17252396166134% 18.686274509803923%,
        28.19488817891374% 20.764705882352942%,
        22.731629392971247% 23.352941176470587%,
        17.30031948881789% 25.92156862745098%,
        13.402555910543132% 28.000000000000004%,
        10.95846645367412% 29.549019607843135%,
        8.690095846645367% 31.23529411764706%,
        6.597444089456869% 33.09803921568628%,
        4.744408945686901% 35.1764705882353%,
        3.146964856230032% 37.50980392156863%,
        1.8370607028753994% 40.13725490196079%,
        0.8785942492012779% 43.05882352941177%,
        0.5111821086261981% 44.66666666666667%,
        0.5111821086261981% 44.66666666666667%
      );
    }
    75% {
      clip-path: polygon(
        1.0118043844856661% 53.18559556786704%,
        0.8094435075885328% 55.04155124653739%,
        0.21922428330522764% 60.83102493074792%,
        0.03372681281618887% 66.20498614958449%,
        0.16863406408094433% 70.77562326869807%,
        0.4721753794266441% 73.98891966759004%,
        0.9780775716694772% 77.31301939058173%,
        1.7200674536256324% 80.63711911357342%,
        2.748735244519393% 83.98891966759003%,
        4.064080944350759% 87.28531855955679%,
        5.733558178752108% 90.47091412742382%,
        7.774030354131535% 93.54570637119113%,
        8.937605396290051% 95.01385041551247%,
        10.03372681281619% 96.17728531855956%,
        12.377740303541316% 98.00554016620498%,
        17.60539629005059% 99.77839335180056%,
        20.421585160202362% 99.88919667590028%,
        23.355817875210793% 99.58448753462605%,
        26.39123102866779% 98.94736842105263%,
        29.477234401349072% 98.03324099722991%,
        37.36930860033727% 95.06925207756233%,
        46.69477234401349% 91.60664819944598%,
        53.92917369308601% 90.1662049861496%,
        55.295109612141644% 90.1662049861496%,
        56.6441821247892% 90.24930747922438%,
        59.207419898819566% 90.69252077562327%,
        61.585160202360875% 91.4404432132964%,
        66.88026981450254% 94.07202216066483%,
        70.5564924114671% 96.3157894736842%,
        73.08600337268128% 97.67313019390582%,
        74.68802698145025% 98.25484764542935%,
        76.25632377740304% 98.47645429362882%,
        77.79089376053963% 98.31024930747921%,
        79.32546374367621% 97.61772853185595%,
        80.84317032040472% 96.37119113573407%,
        82.4114671163575% 94.45983379501385%,
        83.99662731871838% 91.8005540166205%,
        84.82293423271501% 90.1662049861496%,
        86.45868465430017% 86.86980609418283%,
        92.47892074198988% 76.50969529085873%,
        95.00843170320404% 72.21606648199446%,
        96.64418212478921% 69.03047091412742%,
        97.57166947723441% 66.8421052631579%,
        98.36424957841483% 64.4875346260388%,
        99.02192242833053% 61.93905817174515%,
        99.51096121416526% 59.16897506925207%,
        99.83136593591905% 56.066481994459835%,
        99.98313659359191% 52.63157894736842%,
        99.93254637436763% 48.78116343490305%,
        99.83136593591905% 46.67590027700831%,
        99.69645868465432% 44.93074792243767%,
        99.29173693086003% 41.662049861495845%,
        98.68465430016865% 38.69806094182825%,
        97.90893760539629% 35.92797783933518%,
        96.98145025295109% 33.40720221606648%,
        95.91905564924113% 31.052631578947366%,
        94.08094435075886% 27.75623268698061%,
        91.26475548060708% 23.711911357340718%,
        88.1956155143339% 19.750692520775623%,
        84.95784148397976% 15.678670360110802%,
        81.68634064080945% 11.191135734072022%,
        80.08431703204046% 8.725761772853186%,
        79.30860033726813% 7.506925207756233%,
        77.80775716694772% 5.373961218836564%,
        76.3743676222597% 3.6565096952908585%,
        74.99156829679595% 2.2991689750692523%,
        73.6593591905565% 1.3019390581717452%,
        72.34401349072512% 0.6094182825484765%,
        71.01180438448567% 0.19390581717451522%,
        69.67959527824621% 0%,
        67.62225969645868% 0.13850415512465375%,
        64.65430016863407% 0.8587257617728532%,
        59.46037099494098% 2.6038781163434903%,
        55.295109612141644% 3.795013850415512%,
        51.33220910623946% 4.653739612188366%,
        44.485666104553125% 6.066481994459833%,
        39.713322091062395% 7.229916897506926%,
        35.1433389544688% 8.753462603878116%,
        32.00674536256324% 10.193905817174514%,
        30.134907251264753% 11.329639889196676%,
        25.88532883642496% 15.789473684210526%,
        25.07588532883642% 17.673130193905816%,
        24.78920741989882% 18.698060941828253%,
        24.18212478920742% 21.191135734072024%,
        22.849915682967957% 25.429362880886426%,
        21.36593591905565% 28.78116343490305%,
        19.78077571669477% 31.357340720221604%,
        18.09443507588533% 33.32409972299169%,
        16.357504215851602% 34.79224376731302%,
        13.693086003372681% 36.343490304709135%,
        10.168634064080944% 37.92243767313019%,
        7.655986509274873% 39.279778393351805%,
        6.104553119730186% 40.526315789473685%,
        4.671163575042159% 42.18836565096954%,
        3.389544688026982% 44.404432132964%,
        2.2765598650927488% 47.285318559556785%,
        1.3827993254637436% 50.9972299168975%,
        1.0118043844856661% 53.18559556786704%,
        1.0118043844856661% 53.18559556786704%
      );
    }
    100% {
      clip-path: polygon(
        0.019230769230769232% 44.78060046189377%,
        0.6153846153846154% 53.002309468822176%,
        2.3461538461538463% 59.353348729792145%,
        3.2115384615384617% 61.270207852194005%,
        4.269230769230769% 63.25635103926096%,
        5.5576923076923075% 65.31177829099308%,
        7.096153846153847% 67.4364896073903%,
        11.038461538461538% 71.87066974595842%,
        13.48076923076923% 74.18013856812932%,
        14.826923076923077% 75.38106235565819%,
        16.03846153846154% 76.37413394919167%,
        18.384615384615383% 77.9676674364896%,
        22.865384615384617% 79.86143187066975%,
        25.038461538461537% 80.23094688221708%,
        27.173076923076927% 80.30023094688221%,
        29.307692307692307% 80.11547344110855%,
        31.461538461538463% 79.7228637413395%,
        37% 78.1986143187067%,
        44.26923076923077% 76.21247113163973%,
        48.30769230769231% 75.56581986143188%,
        51.19230769230769% 75.38106235565819%,
        52.69230769230769% 75.38106235565819%,
        53.48076923076923% 75.42725173210162%,
        55.05769230769231% 75.65819861431872%,
        57.423076923076934% 76.35103926096998%,
        60.5576923076923% 77.80600461893764%,
        66.78846153846155% 82.14780600461894%,
        69.84615384615384% 84.78060046189377%,
        74.32692307692308% 88.91454965357968%,
        78.65384615384615% 92.93302540415705%,
        81.4423076923077% 95.31177829099306%,
        84.13461538461539% 97.32101616628175%,
        86.73076923076923% 98.84526558891456%,
        88.59615384615384% 99.56120092378752%,
        89.78846153846153% 99.81524249422633%,
        90.96153846153847% 99.88452655889145%,
        92.09615384615384% 99.7459584295612%,
        93.1923076923077% 99.35334872979215%,
        95.28846153846153% 97.85219399538107%,
        96.26923076923077% 96.69745958429561%,
        96.75% 96.00461893764434%,
        97.61538461538461% 94.54965357967667%,
        98.90384615384615% 91.59353348729793%,
        99.67307692307692% 88.54503464203233%,
        99.96153846153845% 85.42725173210161%,
        99.84615384615385% 82.24018475750577%,
        99.36538461538463% 79.00692840646651%,
        98.6153846153846% 75.72748267898383%,
        97.63461538461539% 72.37875288683601%,
        95.86538461538461% 67.27482678983834%,
        93.28846153846155% 60.34642032332563%,
        91.46153846153847% 55.057736720554274%,
        90.38461538461539% 51.50115473441108%,
        89.51923076923077% 47.92147806004619%,
        88.92307692307692% 44.34180138568129%,
        88.53846153846153% 39.65357967667436%,
        88.32692307692308% 29.676674364896073%,
        88.17307692307692% 25.3810623556582%,
        87.73076923076923% 21.362586605080832%,
        87.07692307692308% 18.452655889145497%,
        86.4423076923077% 16.51270207852194%,
        85.63461538461539% 14.572748267898383%,
        84.61538461538461% 12.609699769053117%,
        83.34615384615384% 10.623556581986143%,
        81.82692307692308% 8.545034642032332%,
        80.96153846153847% 7.482678983833718%,
        80.07692307692307% 6.466512702078522%,
        78.36538461538461% 4.688221709006929%,
        75.15384615384616% 2.1247113163972284%,
        73.63461538461537% 1.2933025404157044%,
        72.13461538461539% 0.7159353348729792%,
        70.63461538461539% 0.3695150115473442%,
        69.09615384615385% 0.23094688221709006%,
        66.75000000000001% 0.3233256351039261%,
        63.36538461538461% 0.9468822170900691%,
        57.44230769230769% 2.3787528868360277%,
        50.63461538461539% 3.695150115473441%,
        46.44230769230769% 3.9722863741339487%,
        40.03846153846153% 3.879907621247113%,
        33.692307692307686% 3.8337182448036953%,
        29.557692307692307% 4.133949191685912%,
        26.53846153846154% 4.66512702078522%,
        24.576923076923077% 5.219399538106236%,
        20.807692307692307% 6.928406466512701%,
        19.903846153846153% 7.482678983833718%,
        18.442307692307693% 8.498845265588914%,
        15.75% 10.531177829099308%,
        13.30769230769231% 12.655889145496534%,
        11.134615384615385% 14.803695150115473%,
        9.192307692307692% 17.02078521939954%,
        7.480769230769231% 19.28406466512702%,
        6% 21.593533487297922%,
        4.711538461538462% 23.94919168591224%,
        3.5961538461538463% 26.32794457274827%,
        2.6730769230769234% 28.729792147806005%,
        0.6346153846153846% 37.32101616628176%,
        0.1346153846153846% 42.28637413394919%,
        0.019230769230769232% 44.78060046189377%,
        0.019230769230769232% 44.78060046189377%
      );
    }
  }
</style>
