---
import CareerStep from "../components/CareerStep.astro";
---

<div class="flex flex-col w-full overflow-x-hidden pt-20" id="career">
  <h1 class="text-cinnabar-800 font-playfair font-extrabold text-6xl ml-10">
    Experience
  </h1>

  <div
    class="grid grid-rows-5 grid-cols-11 p-10 gap-8"
    id="careerGrid"
    data-parallax-weight="5"
  >
    <CareerStep
      company="Nouse"
      badgeText="Volunteering"
      tw="row-start-1 lg:col-start-6 lg:col-span-6 col-span-11"
      year="2022/23"
      parallaxWeightLTR="3"
      descriptionTitle="Technical Director"
      description="Implemented a modern website while maintaining the already deployed infrastructure."
    />
    <CareerStep
      company="S&P Global"
      badgeText="Internship"
      tw="row-start-2 lg:col-start-7 lg:col-span-5 col-span-11"
      year="2023"
      parallaxWeightLTR="3"
      descriptionTitle="Software Developer Summer Intern"
      description="Full stack development of various web applications in the financial risk analytics sector. Developed and deployed an algorithm for data reporting with end-user-defined hyerarchy constraints. The web applications stacks included Vite, React, SQL, NodeJS and a in-house components library styled with SCSS."
    />
    <CareerStep
      company="Sky"
      badgeText="Internship"
      tw="row-start-3 lg:col-start-4 lg:col-span-4 col-span-11"
      year="2022"
      parallaxWeightLTR="2"
      descriptionTitle="Software Developer Summer Intern"
      description="Full stack development and deployment of two internal web applications designed to broaden employees' skills. The two stacks included Docker, ReactJS, Java SpringBoot and ExpressJS."
    />
    <CareerStep
      company="TSYS"
      badgeText="Internship"
      tw="row-start-4 lg:col-start-1 lg:col-span-4 col-span-11"
      year="2021"
      parallaxWeightLTR="1"
      descriptionTitle="DocOps Cloud Engineer Summer Intern"
      description="Designed and implemented the DocOps flow used by the Knaresborough branch. The job focused on Python and Docker during the prototyping stage and AWS and GCP during the deployment phase. Thousands of employees across different branches and departments are now using a product derived from the proposed implementation."
    />
    <CareerStep
      company="ShockSoc"
      badgeText="Volunteering"
      tw="row-start-5 lg:col-start-3 lg:col-span-9 col-span-11"
      year="2021/23"
      parallaxWeightLTR="4"
      descriptionTitle="Treasurer"
      description="Organised and coordinated a wide range of events including speaker talks, technical workshops and Q-Factor."
    />
  </div>
</div>

<style>
  .make-violet {
    filter: grayscale(100%) invert(75%) sepia(50%) saturate(1279%)
      hue-rotate(196deg) brightness(104%) contrast(98%);
  }
</style>

<script>
  const careerGrid = document.getElementById("careerGrid") as HTMLDivElement;
  const career = document.getElementById("career") as HTMLDivElement;
  const steps = careerGrid.querySelectorAll(":scope > button");
  const parallaxWeight = parseInt(careerGrid.dataset.parallaxWeight ?? "5");

  function parallax(event: MouseEvent | TouchEvent) {
    if (window.innerWidth >= 1024) {
      const halfWidth = window.innerWidth / 2;
      const halfHeight = window.innerHeight / 2;
      let x, y;
      if (event instanceof MouseEvent) {
        x = event.clientX;
        y = event.clientY;
      } else {
        x = event.touches[0].clientX;
        y = event.touches[0].clientY;
      }

      const xW = -(x - halfWidth) / halfWidth;
      const yW = -(y - halfHeight) / halfHeight;

      steps.forEach((careerStepElement, i) => {
        const careerStep = careerStepElement as HTMLElement;
        const pW = parseInt(careerStep.dataset.parallaxWeightLtr ?? "4");

        let vertical, lateral;

        if (xW >= 0) {
          lateral = pW * xW;
        } else {
          lateral = (parallaxWeight - pW) * xW;
        }

        if (yW >= 0) {
          vertical = pW * yW;
        } else {
          vertical = (parallaxWeight - pW) * yW;
        }
        careerStep.style.setProperty("--tw-translate-x", `${lateral * 2}%`);
        careerStep.style.setProperty("--tw-translate-y", `${vertical * 10}%`);
      });
    }
  }

  career.addEventListener("mousemove", parallax);
</script>
