---
import { Icon } from "astro-icon";
---

<div class="w-full pt-20 pb-4" id="contact">
  <h1
    class="lg:text-6xl text-4xl font-playfair text-cinnabar-900 font-extrabold px-10"
  >
    Ready to talk about a project?
  </h1>
  <div class="lg:grid lg:grid-cols-2 lg:grid-rows-1 flex flex-col">
    <div
      class="flex flex-col px-10 pt-10 text-xl font-medium lg:w-3/4 text-justify"
    >
      <p class="text-cinnabar-950">
        Reach out if you need a software engineer for your project. I&rsquo;m
        happy to get my hands dirty with all sort of problems.
        <br />
        If you just want to talk about your project but aren&rsquo;t looking to hire,
        I still want to hear it!
      </p>
      <br />
      <h4 class="font-playfair text-cinnabar-900 text-3xl font-bold">
        If you made your mind up
      </h4>
      <p class="mt-4">
        You might already have a pretty clear idea of what you want to build. If
        that's the case, why don&rsquo;t you book a sessions so we can discuss
        the specifics?
      </p>
      <a
        href="https://calendly.com/joe2k01/30min"
        target="_blank"
        rel="noopener noreferrer"
        class="mt-4 mx-auto py-4 px-8 rounded-full text-center w-max font-code font-bold text-cinnabar-950 bg-cinnabar-400 shadow-md hover:bg-cinnabar-600 hover:text-cinnabar-200 hover:scale-110 hover:-translate-y-2 transition-all duration-150 ease-in-out"
        ><Icon name="mdi:calendar" class="w-10 h-10 inline pr-2" />Book a
        session</a
      >
    </div>
    <a
      class="w-full aspect-square lg:aspect-video overflow-clip"
      id="contactCanvasWrapper"
      href="mailto:joe2k01dev@gmail.com"
    >
      <canvas id="contactWebgl"></canvas>
    </a>
  </div>
</div>
