---
import ProjectsDesktop from "./ProjectsDesktop.astro";
import ProjectsMobile from "./ProjectsMobile.astro";
const { id } = Astro.props;
---

<div id={id}>
  <ProjectsDesktop id=`${id}_desktop` />
  <ProjectsMobile id=`${id}_mobile` />
</div>
