---
import MobileProject from "../components/MobileProject.astro";
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div class="flex md:hidden flex-col px-2 min-h-screen" id={id}>
  <h1
    class="text-4xl py-6 w-full text-cinnabar-800 font-playfair font-extrabold"
    id="projects-title"
  >
    Past Projects
  </h1>
  <MobileProject
    title="Nouse"
    badges={["AstroJS", "SolidJS", "PHP", "Docker"]}
    imageURL="casteddu1.jpg"
    content="Nouse is a newspaper. It is the oldest student society at the University of York. I recently worked on the re-design and implementation of their website."
  />
  <MobileProject
    title="Shocksoc"
    badges={["AstroJS", "SolidJS", "Firebase"]}
    imageURL="casteddu2.jpg"
    content="ShockSoc is the University of York's engineering society. When I was elected secretary of the society, the website was a bit dated. I re-designed and developed the new website to include a built-in Content Management System for committee members."
  />
</div>
