body {
  background: #232323;
}

h1 {
  position: absolute;
  top: auto;
  bottom: 300px;
  left: 0;
  right: 0;
  font-family: 'Courgette', cursive;
  color: white;
  font-size: 20px;
  text-align: center;
}

.center {
  font-family: 'Indie Flower', cursive;
  color: orange;
  font-size: 45px;
  text-align: center
}

p {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 80px;
  right: 0;
  margin: auto;
  width: 37.5%;
  height: 75%;
}

.avatar {
  border-radius: 50%;
  width: 45%;
  height: 45%;
}

.others {
  border-radius: 50%;
  width: 20%;
  height: 20%;
}
