body {
  background: #232323;
}

h1 {
  text-align: center;
  font-family: 'Courgette', cursive;
  color: white;
  font-size: 20px;
}

.center {
  font-family: 'Indie Flower', cursive;
  color: orange;
  font-size: 45px;
  text-align: center
}

p{
  text-align: center;
}

img {
  border-radius: 50%;
  border: 3px solid orange;
}

.avatar {
  max-width: 15%;
  max-height: 15%;
}

.others {
  max-width: 8%;
  max-height: 8%;
}

@media all and (min-width:0px) and (max-width: 1024px) {
  .avatar {
    border-radius: 50%;
    max-width: 29%;
    max-height: 29%;
    width: auto;
    height: auto;
  }

  .others {
    border-radius: 50%;
    max-width: 22%;
    max-height: 22%;
    width: auto;
    height: auto;
  }

@media all and (min-width:840px) and (max-width: 1020px) {
  .avatar {
    border-radius: 50%;
    max-width: 29%;
    max-height: 29%;
    width: auto;
    height: auto;
  }

  .others {
    border-radius: 50%;
    max-width: 13%;
    max-height: 13%;
    width: auto;
    height: auto;
  }
}
