body {
  background: #232323;
}

h1 {
  font-family: 'Courgette', cursive;
  color: white;
  font-size: 20px;
  text-align: center;
}

.center {
  font-family: 'Indie Flower', cursive;
  color: orange;
  font-size: 45px;
  text-align: center
}

p {
  margin:0 auto;
  display:table;
}

.avatar {
  border-radius: 50%;
  width: 45%;
  height: 45%;
}

.others {
  border-radius: 50%;
  width: 20%;
  height: 20%;
}
