---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer id="contact me">
  <div class="md:mr-8">
    <h3 class="text-3xl font-bold">
      <span class="gradientText">Get in Touch</span>
    </h3>
    <div class="mt-2 text-justify">
      <p>
        If you'd like to get in touch with me, please email me at{" "}
        <span>
          <a href="mailto:gb1149@york.ac.uk" class="colourLink">
            gb1149@york.ac.uk
          </a>
        </span>
        .
      </p>
    </div>
  </div>
</SectionContainer>
