---
import { Icon } from "astro-icon";

interface Props {
  id: string;
  title: string;
  description: string;
}

const { id, title, description } = Astro.props;
---

<dialog
  id={id}
  class="p-4 rounded-md h-max m-4 bg-white bg-opacity-90 z-10 w-full shadow-md border-2 border-cinnabar-500 fixed top-1/2 left-0 -translate-y-1/2"
>
  <form>
    <h4 class="text-3xl flex flex-row items-center justify-between">
      <span class="text-cinnabar-500 font-baskerville">{title}</span>
      <button formmethod="dialog">
        <Icon name="mdi:close" class="w-8 h-8 text-cinnabar-500" />
      </button>
    </h4>
    <p class="hyphens-auto mt-4 text-lg text-justify" lang="en">
      {description}
    </p>
  </form>
</dialog>
