---
export interface Props {
  link: string;
}

const { link } = Astro.props;
---

<>
  <a
    href={`#${link}`}
    class="text-gray-200 dark:text-gray-900 uppercase w-full text-center text-lg my-4"
    onclick="document.getElementById('mobileMenu').classList.add('translate-x-[200vw]')"
  >
    {link}
  </a>
  <hr class="border-2 border-gray-200 dark:border-gray-900" />
</>
