---
interface Props {
  src: string;
  imageNumber: number;
}

const { src, imageNumber } = Astro.props;
---

<div
  class=`absolute w-full aspect-video rounded-lg shadow-xl opacity-100 lg:-translate-y-1/2 top-0 lg:top-1/2 overflow-hidden transition-opacity ease-linear duration-300 project-image-wrapper-${imageNumber} z-${imageNumber}`
>
  <img
    class=`w-full aspect-video object-cover transition-transform scale-100 ease-linear duration-300 project-image-${imageNumber}`
    src={src}
  />
</div>
