---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer id="volunteering">
  <div class="md:mr-8">
    <h3 class="text-3xl font-bold">
      <span class="gradientText">Volunteering</span>
    </h3>
    <div class="mt-2 text-justify">
      <p>
        During my time at university I've engaged in various volunteering and
        society related activities. I am currently{" "}
        <span>
          <a href="http://www.shocksoc.org/" class="colourLink"> ShockSoc</a>
        </span>
        's secretary as well as{" "}
        <span>
          <a href="https://nouse.co.uk/" class="colourLink"> Nouse</a>
        </span>
        's Deputy Technical Director. I've also covered the role of Student Representative
        for the second year cohort of Electronic Engineers. Outside of University,
        I am a member of the{" "}
        <span>
          <a
            href="https://engx.theiet.org/local-networks/yh2"
            class="colourLink"
          >
            North Yorkshire Group of IET volunteers
          </a>
        </span>
        .
      </p>
    </div>
  </div>
</SectionContainer>
