<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Giuseppe Barillari</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Playfair+Display&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --first-bg-color: theme(colors.zinc.950);
    --second-bg-color: theme(colors.victoria.1000);
    --second-bg-color-pour: 0%;
    --body-bg: color-mix(
      in srgb,
      var(--first-bg-color),
      var(--second-bg-color) var(--second-bg-color-pour)
    );
  }
  body {
    background: var(--body-bg);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .full-svg path {
    stroke-dashoffset: 0;
  }
</style>
