---
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import BlobBackground from "../components/BlobBackground.astro";
import MouseFriend from "../components/MouseFriend.astro";
import Loading from "../fragments/Loading.astro";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Giuseppe Barillari</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baskervville&family=Noto+Color+Emoji&family=Playfair+Display&family=Roboto&family=Source+Code+Pro&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-roboto overflow-x-hidden">
    <Loading />
    <MouseFriend />
    <Menu />
    <slot />
    <Footer />
    <BlobBackground />
  </body>
</html>

<style is:global>
  :root {
    --first-bg-color: theme(colors.zinc.950);
    --second-bg-color: theme(colors.sazerac.50);
    --second-bg-color-percentage: 0;
    --second-bg-color-pour: calc(var(--second-bg-color-percentage) * 1%);
    --body-bg: color-mix(
      in srgb,
      var(--first-bg-color),
      var(--second-bg-color) var(--second-bg-color-pour)
    );
  }
  body {
    background: var(--body-bg);
  }

  .fullscreen {
    min-height: 100vh;
    min-height: 100dvh;
  }
</style>
